**/nbproject/private/
**/build/
**/dist/
**/nbproject/build-imp.xml
**/nbproject/ant-deploy.xml
**/nbproject/genfiles.properties
/Realisatie/TrafficDataDAO/nbproject/private/
/Realisatie/VerkeerLib/build/
/Realisatie/GeneralDAO/build/
/Realisatie/VerkeerLib/dist/
/Realisatie/GoogleMapsSourceAdapter/build/
/Realisatie/GeneralDAO/dist/
/Realisatie/Verkeer2/build/
/Realisatie/GoogleMapsSourceAdapter/dist/
/Realisatie/RestApi/build/
/Realisatie/RestApi/dist/
/Realisatie/TimerScheduler/nbproject/private/
/Realisatie/TimerScheduler/build/
/Realisatie/TimerScheduler/dist/
/Realisatie/GeneralDAONoDB/nbproject/private/
/Realisatie/Logger/nbproject/private/